DIALOGFLOW_CX_API_ENDPOINT=[REGION/LOCATION]-dialogflow.googleapis.com (ex. us-central1-dialogflow.googleapis.com)
DIALOGFLOW_CX_PROJECT_ID=[GO HERE TO CREATE/FIND - https://dialogflow.cloud.google.com/cx]
DIALOGFLOW_CX_LANGUAGE_CODE=[SEE TAG VALUES HERE - https://cloud.google.com/dialogflow/cx/docs/reference/language]
DIALOGFLOW_CX_LOCATION=[REGION/LOCATION - YOU SELECT THIS WHEN SETTING UP YOUR AGENT (eg. "us-central1")]
DIALOGFLOW_CX_AGENT_ID=[WILL BE IN THE URL ADDRESS BAR OF YOUR DIALOGFLOW CX AGENT AFTER YOU'VE CREATED A PROJECT AND BUILT AN AGENT OR USED A PRE_BUILT - ex. (GUID after "/agents") https://dialogflow.cloud.google.com/cx/projects/cfeehantwiliocxintegration/locations/global/agents/04e955f2-b8cd-463e-bce9-1bad4cf93f65/flows/00000000-0000-0000-0000-000000000000/flow_creation]